.App {
  text-align: center;
}

.Cell {
  height: 14px;
  width: 14px;
  border: 1px dotted black;
  float: left;
  margin: -1px -1px 0 0;
  padding: 0;
}

.GridRow {
  display: table;
  clear: both;
}

.LiveCell {
  background-color: black;
}