.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Cell {
  height: 14px;
  width: 14px;
  border: 1px dotted black;
  float: left;
  margin: -1px -1px 0 0;
  padding: 0;
}

.FastForwardInput {
  height: 52px;
}

.GridRow {
  display: table;
  clear: both;
}

.LiveCell {
  background-color: black;
}