@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");

.App {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.StartStopButton {
  padding: 20px;
  border-radius: 50%;
}

.PresetForm {
  width: 155px;
}

.Title {
  font-family: Verdana, Geneva, sans-serif; 
  font-size: 24px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px;
  margin: 40px 0;
}

.Subtitle {
  font-family: Verdana, Geneva, sans-serif; 
  font-size: 18px; 
  font-style: normal; 
  font-variant: normal;  
  line-height: 26.4px;
}

.Cell {
  height: 14px;
  width: 14px;
  border: 1px dotted black;
  float: left;
  margin: -1px -1px 0 0;
  padding: 0;
}

.GameWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.GridRow {
  display: table;
  clear: both;
}

.LiveCell {
  background-color: black;
}

.LeftButtons {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 500px;
  justify-content:space-between;
  align-items: center;
}

.SpeedSelectorWrapper {
  display: flex;
  justify-content: space-evenly
}

.Hidden {
  visibility: hidden;
}

.RightButtons {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 500px;
  justify-content:space-between;
}

.FastForwardWrapper {
  display: flex;
  flex-direction: column;
  width: 275px;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
  border: 5px solid grey;
  padding: 50px 20px;
}

.FFSelectorWrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly
}

.RulesList {
  margin: 30px 0;
}

.ListTitle {
  margin: 0 0 0 235px;
  font-weight: 700;
}

.About1 {
  display: flex;
}

.GameDescription {
  margin: 0 50px;
}

.ConwayImage {
  height: auto;
  width: 200px;
  border-radius: 15px;
}

.ConwayImageWrapper {
  text-align: center;
}